:root {

    --azul-escuro:#043250;
    --azul-claro:#0e93d5;
    --amarelo-ouro:#e7ba17;
    --amarelo-claro:#166c63;
    --amarelo-ofuscado:#8e792e;




    --cor-primaria: #3498db;
    --cor-secundaria: #6c757d;
    --cor-sucesso: #28a745;
    --cor-aviso: #ffc107;
    --cor-erro: #dc3545;

    --cor-texto-principais: #0A090C;
    --cor-texto-secundarios: #313131;
    --cor-texto-branco: #fcf8f8;
    --cor-text-branco-50: #e2e2e2;

    --font-principal: 'Roboto', sans-serif;
    --font-secundaria: 'Noto Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-principal);
    background-color: var(--azul-escuro);
    color: var(--cor-texto-branco);
}

.menu {
    background-color: var(--amarelo-ofuscado);
    width: 100%;
    max-width: 1920px;
    margin: auto;
    color: var(--cor-texto-branco);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.brand {
    font-size: 22pt;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-elementos {
    display: flex;
    gap: px;
}

.menu-elementos a {
    padding: 10px;
    text-decoration: none;
    color: var(--cor-texto-branco);
    font-size: 14pt;
    transition: 0.3s;
}

.menu-elementos a:hover {
    color: var(--cor-aviso);
}

.banner {
    height: 60vh;
    background: url('../assets/39-Premio-E-Commerce-Brasil-2026-Forum-ECBR.jpeg.png') center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

.titulo{
    font-size: 24pt;
    margin-bottom: 20px;
    color: var(--cor-aviso);
}

.sub-titulo{
    font-size: 24pt;
    margin: 30px 0 15px;
}

.sobre-conteudo{
    background: #1a1a1a;
    padding: 24px;
    border-radius: 8px;
    border-left: 4px solid var(--azul-escurot);
    margin-bottom: 20px;
}

.sobre-conteudo p{
    line-height: 22pt;
}

.sobre-conteudo ul li, .sobre-conteudo ol li{
    margin-bottom: 16px;
}

.link-texto{
    color: var(--amarelo-ouro);

    &:hover{
        color: var(--amarelo-ofuscado);
    }
}

.sub-titulo{
    color: var(--amarelo-ouro); 
}

.card {
    width: 300px;
    float: left;
    font-size: 12pt;
    background: #1a1a1a;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

.card h3 {
    margin-bottom: 12px;
    font-size: 16pt;
    color: var(--amarelo-);
}
