*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(255, 255, 255);
    width: 150px;
}

a{
    color: rgb(59, 71, 238);
    text-decoration: none;

}

body{
    background-color: rgb(0, 0, 0);
}

p{
    color: rgb(93, 245, 245);
    margin-top: 25px;
}

.texto{
    margin: 20px 0px 10px 0px;
    color: blue;
    font-size: 18px;
    font-family: 'Franklin Gothic Meduim', 'Arial Narrow', Arial, sans-serif

}

#rodape{
    font-size: 12px;
    color: blue;
    width: 100px;
    margin-top: 25px;
}