*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(255, 255, 255);
    width: 150px;
}

a{
    color: rgb(59, 71, 238);
    text-decoration: none;

}

body{
    background-color: rgb(0, 0, 0);
}

p{
    color: rgb(93, 245, 245);
    margin: 25px;
    margin-left: 0px;
}